Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/*.opendb
/.vs/config/applicationhost.config
/*.db
/.vs
*.pdb
/*.nupkg
/Releases/master/WindowsNoEditor/AssetRegistry.bin
/Releases/master/WindowsNoEditor/HorizonTweenDemo-WindowsNoEditor.pak
/Releases/master/WindowsNoEditor/Metadata/DevelopmentAssetRegistry.bin
/.signature.p7s
/horizontweendemo.nuspec
/Build/AllDesktop/FileOpenOrder/CookerOpenOrder.log
/Build/Android/FileOpenOrder/CookerOpenOrder.log
/Build/AndroidClient/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ASTCClient/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ATC/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ATCClient/FileOpenOrder/CookerOpenOrder.log
/Build/Android_DXT/FileOpenOrder/CookerOpenOrder.log
/Build/Android_DXTClient/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ETC1/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ETC1Client/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ETC1a/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ETC1aClient/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ETC2/FileOpenOrder/CookerOpenOrder.log
/Build/Android_ETC2Client/FileOpenOrder/CookerOpenOrder.log
/Build/Android_Multi/FileOpenOrder/CookerOpenOrder.log
/Build/Android_MultiClient/FileOpenOrder/CookerOpenOrder.log
/Build/Android_PVRTC/FileOpenOrder/CookerOpenOrder.log
/Build/Android_PVRTCClient/FileOpenOrder/CookerOpenOrder.log
/Build/HTML5/FileOpenOrder/CookerOpenOrder.log
/Build/IOS/FileOpenOrder/CookerOpenOrder.log
/Build/IOSClient/FileOpenOrder/CookerOpenOrder.log
/Build/Linux/FileOpenOrder/CookerOpenOrder.log
/Build/LinuxClient/FileOpenOrder/CookerOpenOrder.log
/Build/LinuxNoEditor/FileOpenOrder/CookerOpenOrder.log
/Build/LinuxServer/FileOpenOrder/CookerOpenOrder.log
/Build/Lumin/FileOpenOrder/CookerOpenOrder.log
/Build/LuminClient/FileOpenOrder/CookerOpenOrder.log
/Build/Mac/FileOpenOrder/CookerOpenOrder.log
/Build/MacClient/FileOpenOrder/CookerOpenOrder.log
/Build/MacNoEditor/FileOpenOrder/CookerOpenOrder.log
/Build/MacServer/FileOpenOrder/CookerOpenOrder.log
/Build/TVOS/FileOpenOrder/CookerOpenOrder.log
/Build/TVOSClient/FileOpenOrder/CookerOpenOrder.log
/Build/Windows/FileOpenOrder/CookerOpenOrder.log
/Build/WindowsClient/FileOpenOrder/CookerOpenOrder.log
/Build/WindowsServer/FileOpenOrder/CookerOpenOrder.log
/Content/NonUFS/Copy/Game.version
/Build/Android_ASTC/FileOpenOrder/CookerOpenOrder.log
/Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
/Build/Script/*/*.user
/Build/**/obj/Debug
/Build/**/obj/Development
.vs
/Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Releases
/LastCoverageResults.log
/Build/Script/**/bin/
/Build/Script/**/obj/
EditorOpenOrder.log
/.vsconfig
*.props
