[submodule "Plugins/HorizonFrameworkPlugin"]
	path = Plugins/HorizonFrameworkPlugin
	url = https://kanohorizonia@dev.azure.com/kanohorizonia/UEHorizonPlugin/_git/HorizonFrameworkPlugin

[submodule "Build/Base"]
	path = Build/Base
	url = https://kanohorizonia@dev.azure.com/kanohorizonia/EpicGames/_git/KanoUnrealBuildTool
