Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/.vs
*.nupkg
/HorizonFrameworkDemo.nuspec
/Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
/Content/NonUFS/Copy/Game.version
Releases
/Build/Windows/FileOpenOrder/CookerOpenOrder.log
/Build/Windows/FileOpenOrder/EditorOpenOrder.log
/.vsconfig
